<div id="use_search" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">How to use the search</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          By typing what you are looking for in the search box, it will automatically filter what is typed. <br>

          If you are looking to filter by more than one search term, whether it be in different categories you can do this
          by simply separating each term with a space. <br>

          For example: <br>
          "Entertainment Food 26-01-2020" <br> <br>
          This will filter to all expenses with "Entertainment", "Food", and with a date of "26-01-2020" as its details

          Each column has its own sorting button. Once clicked it will organise and sort that column accordingly.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>